!!! 5

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "siabim"
    link(rel="stylesheet", href="siabim.css")

  body

    {% include "SiaBimHomepageDesktop.pug" %}


  script(src="siabim.js")
