div(id="gridContainerDesktop", class="grid_container")

  div(id="headerDesktop",   class="grid_row")
    div(id="header_desktop")

  div(id="contentDesktopRow",  class="grid_row")
    div(id="menuDesktop")
    div(id="contentDesktop")

  div(id="footerDesktopRow",   class="grid_row")
    div(id="footerDesktop")
