div(id="grid_container_tablet", class="grid_container")

  div(id="header_tablet_row", class="grid_row")
    div(id="header_tablet")

  div(id="menu_tablet_row",   class="grid_row")
    div(id="menu_tablet")

  div(id="content_tablet_row")
    div(id="content_tablet")
