div(id="gridContainerPhone", class="grid_container")

  div(id="headerPhoneRow",   class="grid_row")
    div(id="headerPhone")

  div(id="menuPhoneRow")
    div(id="menuPhone")

  div(id="contentPhoneRow",  class="grid_row")
    div(id="contentPhone")

  div(id="footerPhoneRow",   class="grid_row")
    div(id="footerPhone")
