!!! 5

html
  head
    title= "siabim"
    link(rel="stylesheet", href="siabim.css")

  body

    div(id="grid_container_main", class="")
      div(id="container_main_row", class="grid_row")
        div(id="container_main_menu", class="")
        div(id="container_main_menu_phone", class="")
        div(id="container_main_content", class="")

  script(src="siabim.js")
