div(id="gridContainerTablet", class="grid_container")

  div(id="headerTabletRow",   class="grid_row")
    div(id="headerTablet")

  div(id="menuTabletRow",     class="grid_row")
    div(id="menuTablet")

  div(id="contentTabletRow",  class="grid_row")
    div(id="contentTablet")
      div(id="contentWidthValueTablet")
      div(id="screenWidthTablet")

  div(id="footerTabletRow",   class="grid_row")
    div(id="footerTablet")
