
div(id="gridContainerDesktop", class="grid_container")

  div(id="headerDesktopRow",   class="grid_row")
    div(id="headerDesktop")

  div(id="contentDesktopRow",  class="grid_row")
    div(id="menuDesktop")
      software = ["revit", "vectorworks", "archicad"]
      for x in software
        div
          a(href="#", class="menuDesktopTitel")= x
            untermenu = ["eins", "zwei", "drei"]
            for y in untermenu
              div
                a(href="#", class="menuDesktopUntertitel")= y

    div(id="contentDesktop")

  div(id="footerDesktopRow",   class="grid_row")
    div(id="footerDesktop")
