!!! 5

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "SiaBimTestpage"
    link(rel="stylesheet", href="siabim.css")
    link(rel="stylesheet",
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")

  body

    div(class="topnav")
      menu_items = ["home", "news", "contact", "about"] 
      for item in menu_items
        a(href="##{item}") item


  script(src="siabim.js")
