
div(id="gridContainerDesktop", class="grid_container")

  div(id="headerDesktopRow",   class="grid_row")
    div(id="headerDesktop")

  div(id="contentDesktopRow",  class="grid_row")

    div(id="menuDesktop")

    div(id="contentDesktop")

  div(id="footerDesktopRow",   class="grid_row")
    div(id="footerDesktop")
