
div(id="gridContainerDesktop", class="grid_container")

  div(id="headerDesktopRow",   class="grid_row")
    div(id="headerDesktop")

  div(id="contentDesktopRow",  class="grid_row")

    div(id="menuDesktop")

      div(id="desktopMenuMain", class="desktopMenuEntries ")
        werte1 = ["Bauen im Bestand", "Bauingenieurwesen", "Gebäudetechnik",]
        for w in werte1
          a(href="#", class="desktopMenuEntry")= w
        werte2 = ["Komplexes Modellieren", "Revit-API", "Rhino", "Vectorworks"]
        for w in werte2
          a(href="#", class="desktopMenuEntry")= w


      div(id="desktopMenuBauenImBestand", class="desktopMenuEntries desktopMenuEntriesDisplay")
        a(href="#", class="desktopMenuEntry")= "zurück"
        werte = ["Bauphasen", "Mengenermittlung"]
        for w in werte
          a(href="#", class="desktopMenuEntry")= w

    div(id="contentDesktop")

  div(id="footerDesktopRow",   class="grid_row")
    div(id="footerDesktop")
