div(id="grid_container_desktop", class="grid_container")

  div(id="header_desktop_row",  class="grid_row")
    div(id="header_desktop")

  div(id="content_row_desktop", class="grid_row")
    div(id="menu_desktop")
    div(id="content_desktop")
