div(id="grid_container_phone", class="grid_container")

  div(id="header_phone_row",   class="grid_row")
    div(id="header_phone")

  div(id="content_phone_row",  class="grid_row")
    div(id="menu_phone")
    div(id="content_phone")

  div(id="footer_phone_row",   class="grid_row")
    div(id="footer_phone")
