
div(id="grid_container_desktop", class="grid_container")

  div(id="header_row", class="grid_row")
    div(id="header_desktop")
    div(id="header_tablet")
    div(id="header_phone")

  div(id="content_row", class="grid_row")

    div(id="content_row_desktop")
      div(id="menu_desktop")
      div(id="content_desktop")

    div(id="content_row_tablet")
