!!! 5

html
  head
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title= "siabim"
    link(rel="stylesheet", href="siabim.css")

  body

    div(id="container_main", class="")
      div(id="container_main_row", class="grid_row")

        div(id="container_main_menu", class="")
          ul(id="not_phone_menue")
            menu_items = ["Ausmass nach eBKP-H", "AutoCAD", "AutoLISP", "Vectorworks"]
            each menu_item in menu_items
              li(class="none")= menu_item

        div(id="container_main_menu_phone", class="")

        div(id="container_main_content", class="")
          div(style="width: 200px; height: 400px; background-color: black;")

      div(id="container_footer_row", class="grid_row")
        footer_entries = ["GitHub", "About", "Copyright", "FAQ"]
        each footer_entry in footer_entries
          a(href="")= footer_entry

  script(src="siabim.js")
