!!! 5

html
  head
    title= "siabim"
    link(rel="stylesheet", href="siabim.css")

  body

    div(id="grid_container_main", class="")
      div(id="container_main_row", class="grid_row")
        div(id="container_main_menu", class="")
          ul(id="not_phone_menue")
            li= "AutoCAD"

        div(id="container_main_menu_phone", class="")
        div(id="container_main_content", class="")

    div(id="grid_container_footer")
      div(id="grid_container_row", "grid_row")
        footer_entries = ["GitHub", "About", "Copyright", "FAQ"]
        each footer_entry in footer_entries
          a(href="")= footer_entry

  script(src="siabim.js")
