
div(id="gridContainerDesktop", class="grid_container")

  div(id="headerDesktopRow",   class="grid_row")
    div(id="headerDesktop")

  div(id="contentDesktopRow",  class="grid_row")
    div(id="menuDesktop")
      div(id="menuDesktopRevit")
        a(class="menuDesktopTitle")= "Revit"

    div(id="contentDesktop")

  div(id="footerDesktopRow",   class="grid_row")
    div(id="footerDesktop")
