@import "01_global.sass"
@import "02_mixins.sass"

%grid_container
  @include grid_container

#grid_container_footer
  @extend %grid_container
  background-color: rgba(red, 0.3)
  height: 300px
  margin: 50px auto
  & a
    display: inline-block
    padding: 5px 10px
    color: white
    text-decoration: none
