@import "mixins.sass"

#grid_container_desktop
  @include desktop
  width:      95%
  // height:     100%
  max-width:  1000px
  margin:     0px auto
  position:   relative

#header_desktop
  @include page_header
  background-position: right 
  background-origin:   content-box
  background-size:     contain
  width:   100%
  height:  80px
  margin:  30px auto
  padding: 15px 50px

#menu_desktop
  background-color: rgba(green, 0.4)
  width:  400px
  height: 400px
  float:  left

#content_desktop
  background-color: rgba(green, 0.6)
  width:  400px
  height: 400px
  float:  right

#footer_desktop
  background-color: rgba(green, 0.15)
  width:  100%
  height: 35px
  // position: absolute
  bottom: 0px
