@import "mixins.sass"

#grid_container_desktop
  @include desktop

#header_desktop
  @include page_header

#content_row_desktop
  & #content_desktop
      background-color: rgba(green, 0.6)
      width:  400px
      height: 400px
      float: right
  & #menu_desktop
      background-color: rgba(green, 0.4)
      width:  400px
      height: 400px
      float: left
