@import "mixins.sass"

@font-face
  font-family: Nunito-Regular
  src: url(Nunito-Regular.ttf)

.header_main
  background-image: url("siabim_web.png")
  background-position: right top
  background-origin: content-box
  background-repeat: no-repeat
  background-size: 20%
  max-width: 90%
  height: 150px
  margin: 30px auto
  padding: 35px
  border: solid 1px $border_color
