.header_main
  // background-color: yellow
  background-image: url("siabim_web.png")
  background-position: right top
  background-origin: content-box
  background-repeat: no-repeat
  background-size: 20%
  max-width: 90%
  height: 150px
  margin: 50px auto
  padding: 35px
