.header_main
  // background-color: yellow
  background-image: url("siabim_web.png")
  background-position: right
  background-origin: padding-box
  background-repeat: no-repeat
  background-size: contain
  width: 60%
  height: 150px
  margin: 50px auto
  padding: 5px
