$border_color: rgba(143, 153, 23, 0.3)
// $border_color: none
$body_color:    blue
$footer_height: 25

@mixin clearfix
  &:after
    display:  table
    content:  ""
    clear:    both

@mixin phone
  @media (max-width: 899px)
    @content
  @media (min-width: 900px) and (max-width: 1099px)
    display: none
  @media (min-width: 1100px)
    display: none

@mixin tablet
  @media (min-width: 900px) and (max-width: 1099px)
    @content
  @media (max-width: 899px)
    display: none
  @media (min-width: 1100px)
    display: none

@mixin desktop
  @media (min-width: 1100px)
    @content
  @media (max-width: 899px)
    display: none
  @media (min-width: 900px) and (max-width: 1099px)
    display: none


@mixin page_header
  background-image:   url("siabim_web.png")
  background-repeat:  no-repeat
