@import "mixins.sass"

#grid_container_phone
  @include phone
  width:      95%
  max-width:  1000px
  // height:     100%
  margin:     0px auto
  position:   relative

#header_phone
  @include page_header
  background-position: center 
  background-origin:   content-box
  background-size:     contain
  width:  100%
  height: 60px
  margin: 10px auto
  padding: 6px

#menu_phone
  background-color: rgba(blue, 0.2)
  width:  100%
  height: 80px

#content_phone
  background-color: rgba(blue, 0.4)
  width:  100%
  height: 850px

#footer_phone_row
  // position: absolute
  bottom: 0px

#footer_phone
  background-color: rgba(blue, 0.5)
  width:  100%
  height: 30px
