@import "mixins.sass"

#grid_container_phone
  @include phone
  width:      95%
  height:     100%
  max-width:  1000px
  margin:     0px auto

#header_phone
  @include page_header
  background-position: right 
  background-origin:   content-box
  background-size:     contain
  width: 100%
  height: 80px
  margin: 30px auto
  padding: 15px 50px

#content_phone_row
  & #menu_phone
      background-color: rgba(blue, 0.2)
      width: 100%
      height: 80px
