body
  background-color: salmon
  color: black
  margin: 20px

.icon-bar
  width: 90px
  background-color: #555

.icon-bar a
  display:    block
  text-align: center
  padding:    16px
  transition: all 0.9s ease
  color:      white
  font-size:  30px

.icon-bar a:hover
  background-color: #4caf50

.active
  background-color: khaki
