body
  background-color: salmon
  color: black
  margin: 20px

.topnav
  background-color: brown
  margin: auto
  width: 800px
  height: 60px
  text-align: center
  a 
    background-color: blue
    color: mintcream
    width: 150px
    height: 30px
    display: inline-block
