@import "mixins.sass"

#gridContainerTablet
  @include tablet
  width:      95%
  margin:     0px auto

#headerTablet
  @include page_header
  background-color: rgba(orange, 0.2)
  background-position: right 
  background-origin:   content-box
  background-size:     contain
  width:   100%
  height:  80px
  margin:  10px auto
  padding: 15px 50px

#menuTablet
  background-color: rgba(orange, 0.2)
  width:  100%
  height: 100px
  margin: 10px 0px

#contentTablet
  background-color: rgba(orange, 0.4)
  // margin: 0px 0px 45px
  width:  100%
  height: 1300px

#footerTabletRow
  bottom: 0px

#footerTablet
  background-color: rgba(orange, 0.55)
  width:  100%
  height: 45px
  margin: 5px 0px 0px 0px
