@import "mixins.sass"

#header_tablet
  @include tablet
  @include grid_container
  @include page_header

#menu_tablet
  @include tablet
  width: 100%
  height: 300px
  border: 2px solid $border_color
